<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Produkt</title>
</head>
<body>
<h1>Opret nyt produkt</h1>
    <form action="/create" method="post">
        <input type="text" name="id" placeholder="Vare id">
        <input type="text" name="name" placeholder="Varenavn">
        <input type="text" name="price" placeholder="Pris på vare">
        <input type="text" name="description" placeholder="Beskrivelse">
        <input type="submit" value="Opret">

    </form>
</body>
</html>