<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Oversigt over produkter</title>
</head>
<body>
<div>
    <h1>Vareliste</h1>
    <table border="1">
        <tr>
            <th hidden>ID</th>
            <th>Varenavn</th>
            <th>Pris</th>
            <th>Beskrivelse</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="product : ${prod}">
            <td th:number="${product.id}"hidden>ID</td>
            <td th:text="${product.name}">Varenavn</td>
            <td th:text="${product.price}">Pris</td>
            <td th:text="${product.description}">Beskrivelse</td>
            <td>
                <a th:href="@{'update/' +${product.id}}">Opdater</a>
            </td>
            <td>
                <a th:href="@{'delete/' + ${product.id}}">Slet</a>
            </td>
        </tr>
    </table>
    <a href="create">Tilføj nyt produkt</a>

</div>

</body>
</html>