<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater produkt</title>
</head>
<body>

    <h1>Opdater produkt</h1>
    <form action="/update" method="post">
        <div>
            <input type="hidden" name="id" th:value="${prod.id}">
            <input type="text" name="name" th:value="${prod.name}">
        </div>
        <div>
            <input type="text" name="price" th:value="${prod.price}">

        </div>
        <div>
            <input type="text" name="description" th:value="${prod.description}">
        </div>
        <div>
            <input type="submit" value="Opdater">
        </div>
    </form>


</body>
</html>